/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Add specific styles for each view here */
/* For example, indoor-plants.html and outdoor-plants.html */

@media (max-width: 400px){
  nav ul {
    display: flex;
    flex-direction: column;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #333; /* Set the text color to a contrasting color */
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd; /* Highlight on hover */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Add specific styles for each view here */
/* For example, indoor-plants.html and outdoor-plants.html */

.plant-card {
  border: 1px solid black; /* Add a black border */
  padding: 10px; /* Add yellow padding */
  margin: 10px;
  max-width: 300px;
  text-align: center;
  background-color: white;
}

.plant-card:hover {
  background-color: lightgreen;
  box-shadow: #333 10px 10px 15px;
}
.plant-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.plant-card img {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}

.plant-card a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  background-color: #FFD700; /* Yellow background color */
  color: black;
  padding: 5px 10px;
  border: 1px solid #000; /* Black border for the link button */
  border-radius: 5px;
}

.plant-card a:hover {
  background-color: #FFC600; /* Darker yellow on hover */
}


